ai-agent-workflow (2).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "46acf4ee-0660-44dc-9cd8-8f7becb3eff7",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -16,
        -16
      ],
      "id": "b0e9fc25-f31c-4a3e-8cf8-89cc06e63fda",
      "name": "Webhook",
      "webhookId": "46acf4ee-0660-44dc-9cd8-8f7becb3eff7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You have access to the following tools\nvector index containing information about the restaurant\nthe guest wants to know\n{{ $json.body.question }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        192,
        -16
      ],
      "id": "0ca970b6-dda6-414e-b961-c0909b77d429",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        64,
        192
      ],
      "id": "b8535779-f090-497d-9614-41acf8559fb5",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "p4Cscde2Eu8ZR3zY",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "find information about the restaurant",
        "pineconeIndex": {
          "__rl": true,
          "value": "babaggg",
          "mode": "list",
          "cachedResultName": "babaggg"
        },
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        400,
        208
      ],
      "id": "76a299b6-f9c5-44c3-b487-47096d0f4445",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "fQbv5N3ec6ElJusx",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        400,
        400
      ],
      "id": "a09d8789-7aad-46c0-928b-003cec94e4e5",
      "name": "Embeddings Mistral Cloud",
      "credentials": {
        "mistralCloudApi": {
          "id": "p4Cscde2Eu8ZR3zY",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        544,
        -16
      ],
      "id": "b20dbd02-4ed8-4370-9a5a-49aaf422868d",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ea31ce9f-15cc-4fa7-a6fe-e4ce4b367f94",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "54372f06839d569f1b4049079b141445f0042a34fd19bb410ca6281e6cb49586"
  },
  "id": "iANCLu7qrQs3Cg5g",
  "tags": []
}