vector-store-workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        -16
      ],
      "id": "3ad51db6-529a-4d01-b790-3d5975099936",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1QZJnUtjKWN73GMUOAcSZzUzRSmFVnlji",
            "mode": "list",
            "cachedResultName": "n8n_rag_example",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1QZJnUtjKWN73GMUOAcSZzUzRSmFVnlji"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        64,
        -16
      ],
      "id": "80a2338f-e843-4488-90bf-9af0224e35bd",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MeARPqknrcYRY3yB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        -16
      ],
      "id": "a0ffd2b8-93ac-4599-984e-80a440c75f0a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "MeARPqknrcYRY3yB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        -16
      ],
      "id": "8499f0c1-f8d4-4741-88c2-401bb627fe4d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "babaggg",
          "mode": "list",
          "cachedResultName": "babaggg"
        },
        "options": {
          "pineconeNamespace": "Restaurant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        576,
        0
      ],
      "id": "43bce1c8-fe98-4693-b80f-6aa2cb4fed2b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "vLewRrT8ECJihkdd",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        336,
        272
      ],
      "id": "2758ee3c-e86d-470d-b2dd-8b37a5f92d3a",
      "name": "Embeddings Mistral Cloud",
      "credentials": {
        "mistralCloudApi": {
          "id": "p4Cscde2Eu8ZR3zY",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        544,
        240
      ],
      "id": "c4474988-2037-4e53-aa20-4a2334592f18",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        480,
        384
      ],
      "id": "19271da5-f9e8-480f-adee-184891488184",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6ae541d8-c14f-4621-a5f9-328160842e0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "54372f06839d569f1b4049079b141445f0042a34fd19bb410ca6281e6cb49586"
  },
  "id": "KFvLLtf1TMxETCtX",
  "tags": []
}